node_modules/
app/dist/
frontend/dist/
*.log
.DS_Store
data/
coverage/
bin/
build/
dist/
cmd/metricscheck/metricscheck

.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe